<h2>Reglas de Extraccion</h2>
<hr>
<div class="row">
    <div class="col-md-12">
        <table class="table table-success table-striped table-hover mt-3" id="tabla-condiciones">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Descripcion Regla</th>
                    <th>Fecha Creacion</th>
                    <th>Condicion</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i = index let regla of listReglas | paginate:{id:'prueba', itemsPerPage:10, currentPage:pageActual}; ">
                    <td scope="row">{{i+1}}</td>
                    <td>{{regla.regla}}</td>
                    <td>{{regla.fechaCreacion |date}}</td>
                    <td>{{regla.condicion}}</td>
                    <td>
                        <button class="btn btn-success me-2 mb-1" (click)="openLG(contenido,regla)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger mb-1" (click)="borrarCondicion(regla)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
        <pagination-controls id="prueba" class="text-center" previousLabel="Prev" responsive="true" (pageChange)="cambiarPaginaReglasAct($event)"></pagination-controls>

        <button class="btn btn-primary mb-5" (click)="irCrearRegla()">Nueva Regla</button>
        <button class="btn btn-warning ms-2 mb-5" (click)="validarCondiciones(carga)">Validar Reglas</button>
        <button class="btn btn-success ms-2 mb-5 me-2 float-end" (click)="extraccionCuentas()">Continuar</button>




    </div>
    <div class="col-md-12">
        <ng-template #contenido let-modal>
            <div class="modal-header">
                <h4 class="modal-tittle text-success">Editar Regla</h4>
                <button class="close" aria-label="close" (click)="modal.dismiss()">
                    <span aria-label="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" [formGroup]="forma" (ngSubmit)="actualizarCondicion()">
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">DESCRIPCION DE LA REGLA</label>
                        <textarea class="form-control" id="descripcion" rows="5" name="descripcion" formControlName="descripcion"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="condicion" class="form-label w-100">GENERACION FILTRO</label>
                        <textarea class="form-control" id="condicion" rows="5" name="condicion" formControlName="condicion"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" (click)="actualizarCondicion()">Editar</button>
                <button type="button" class="btn btn-danger" (click)="modal.close()">Cancelar</button>
            </div>
        </ng-template>

    </div>

    <div class="col-md-12">
        <ng-template #carga let-modal>
            <div class="modal-header">
                <h4 class="modal-tittle text-success">VALIDAR CONDICIONES ACTUALES</h4>
                <button class="close" aria-label="close" (click)="modal.dismiss()">
                    <span aria-label="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>NO REFERENCIA</th>
                            <th>COD_ID</th>
                            <th>ID CLIENTE</th>
                            <th>IDENTIFICACION CLIENTE</th>
                            <th>ID PRODUCTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let calculo of list_calculo | paginate:{itemsPerPage:30, currentPage:paginaActualModal}; let i = index">
                            <td scope="row">{{calculo.no_REFERENCIA}}</td>
                            <td>{{calculo.cod_ID}}</td>
                            <td>{{calculo.id_CLIENTE}}</td>
                            <td>{{calculo.iden_CLIE}}</td>
                            <th>{{calculo.id_PRODUCTO}}</th>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls class="text-center" previousLabel="Prev" responsive="true" (pageChange)="cambiarPaginaValidaRegla($event)"></pagination-controls>
            </div>
            <div class="modal-footer">
                <label class="text-success position-absolute bottom-0 start-0 mb-4 ms-2" style="font-weight: bold;">Cantidad Registros: {{cantidad_registros}}</label>
                <button type="button" class="btn btn-danger bg-success" (click)="modal.close()">Cerrar</button>
            </div>
        </ng-template>
    </div>

</div>