<div class="row w-100" id="content-about">
    <h1>Acerca del Motor de Incremento</h1>
    <hr>
    <p style="text-align: justify;">
        El MIT es una aplicacion que permite generar el calculo masivo de tarifas de clientes que cumplan con unas politicas de incremento de acuerdo a los requerimientos establecidos para cada periodo a incrementar, este se puede hacer para cuentas con CFM como
        Tarifas de Uso, este proceso desencadena el incremento masivo para los clientes que cumplen todo el proceso
    </p>

    <p style="text-align: justify;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut reiciendis assumenda repellat magni, rem eos natus magnam consectetur expedita. Quod minima nisi mollitia? Officiis doloribus quis suscipit nam laboriosam sed.
    </p>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Version</th>
                        <th>Desarrollador</th>
                        <th>Fecha</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>V.1.0.0</td>
                        <td>Claro</td>
                        <td>{{today | date}}</td>
                        <td>
                            <button class="btn btn-primary">Ver Fuentes</button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>V.1.0.1</td>
                        <td>Claro</td>
                        <td>{{today | date}}</td>
                        <td>
                            <button class="btn btn-primary">Ver Fuentes</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>