:root {
  --primary: #111B54;
  --light: #ffffff;
  --grey: #efefef;
}

body {
  overflow: hidden;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #111B54;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bg-primary {
  background-color: #ff5555 !important;
}

.bg-light {
  background-color: #efecec !important;
}

.bg-grey {
  background-color: #efefef !important;
}

.bg-mix {
  background: linear-gradient(180deg, #ffffff 50%, #efefef 0);
}

.btn-primary {
  background-color: #111B54;
  border: 0;
}

.btn-primary:hover {
  background-color: #111B54;
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}

#sidebar-container {
  width: 15rem;
}

#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

.avatar {
  max-width: 40px;
  text-align: center;
}

.btn-search {
  right: 0;
}

.stat {
  border-right: 1px solid #efefef;
}

.dropdown{
  display: flex;
  justify-content: space-between;
}

.fa-chevron-down, .fa-chevron-up{
  padding-left: 0.5rem;
  font-size: 12px !important;
}

.submenu{
  font-size: 0.8rem !important;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
    border: 0;
  }
}