<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <div class="container-fluid">
        <a class="d-block text-light p-3 border-0" (click)="toggleSidebar()"><i class="icon ion-md-menu lead me-2"></i></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <label class="me-2 text-primary" style="font-weight:bold;">{{usuarioLogueado}}</label>
            <button class="btn btn-outline-danger" (click)="desloguear()">Logout</button>
        </div>
    </div>
</nav>