<!--<h1 class="mb-3">Parámetros de Ejecución de Cálculo de Incremento</h1>
<hr class="margin">
<div class="col-md-12 me-3 mb-5">
    <ngb-accordion #acc2="ngbAccordion">
        <ngb-panel id="panel-1" title="EJECUCION CALCULO INCREMENTO PARA MOVIL">
            <ng-template ngbPanelContent>
                
            </ng-template>
        </ngb-panel>
        <ngb-panel id="panel-2" title="EJECUCION CALCULO INCREMENTO PARA FIJA">
            <ng-template ngbPanelContent>
                
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <button class="btn btn-sm btn-outline-primary mr-2 mt-3" (click)="acc2.collapseAll()">Replegar todo</button>
</div>-->

<h1>Parámetros de ejecución de cálculo de incremento</h1>
<hr class="margin">
<ng-wizard [config]="configs" (stepChanged)="stepChanged($event)">

    <ng-wizard-step [title]="'Ejecución de Cálculo Incremento para Móvil'">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary ms-3 mb-3" *ngIf="!icontrashPCM" (click)="abrirModalPCM(contenido4)">Agregar parámetros</button>
            <button class="btn btn-success ms-3 mt-3" *ngIf="icontrashPCM" (click)="ejecutarPCM()" [disabled]="ejecucionCIM">Ejecutar</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Iva</th>
                    <th>Impoconsumo</th>
                    <th>Porcion Datos</th>
                    <th>Porcion Voz</th>
                    <th>Unidad Redondeo</th>
                    <th>Vigencia UVT</th>
                    <th>Incremento usos Defecto</th>
                    <th>Tipo Redondeo</th>
                    <th>frecuencia Commit</th>
                    <th>Estado a calcular</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{parametrosCalculoMovil.iva}}</td>
                    <td>{{parametrosCalculoMovil.impoconsumo}}</td>
                    <td>{{parametrosCalculoMovil.porcion_datos}}</td>
                    <td>{{parametrosCalculoMovil.porcion_voz}}</td>
                    <td>{{parametrosCalculoMovil.unidad_redondeo}}</td>
                    <td>{{parametrosCalculoMovil.vigencia_uvt}}</td>
                    <td>{{parametrosCalculoMovil.incremento_usos_por_defecto}}</td>
                    <td>{{parametrosCalculoMovil.tipo_redondeo_usos}}</td>
                    <td>{{parametrosCalculoMovil.frecuencia_commit}}</td>
                    <td>{{parametrosCalculoMovil.estado_a_calcular}}</td>
                    <td>
                        <button *ngIf="icontrashPCM" class="btn btn-danger mb-1" (click)="borrarPCM()">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-wizard-step>

    <ng-wizard-step [title]="'Ejecución de Cálculo Incremento para Fija'">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary ms-3 mb-3" *ngIf="!icontrashPCF" (click)="abrirModalPCF(contenido5)">Agregar parámetros</button>
            <button class="btn btn-success ms-3 mt-3" *ngIf="icontrashPCF" (click)="ejcutarPCF()" [disabled]="ejecucionCIF">Ejecutar</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Iva</th>
                    <th>Incremento Max</th>
                    <th>Frecuencia Commit</th>
                    <th>Estado a Calcular</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{parametrosCalculoFija.iva_oficial}}</td>
                    <td>{{parametrosCalculoFija.incremento_maximo}}</td>
                    <td>{{parametrosCalculoFija.frecuencia_commit}}</td>
                    <td>{{parametrosCalculoFija.estado_a_calcular}}</td>
                    <td>
                        <button *ngIf="icontrashPCF" class="btn btn-danger mb-1" (click)="borrarPCF()">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-wizard-step>

</ng-wizard>

<div class="col-md-12">
    <ng-template #contenido4 let-modal>
        <div class="modal-header">
            <h4 class="modal-tittle text-success">Parámetros Cálculo Móvil</h4>
            <button class="close" aria-label="close" (click)="modal.dismiss()">
                    <span aria-label="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
            <form autocomplete="off" [formGroup]="formaParametrosCalculoMovil" (ngSubmit)="guardarParametrosCalculoMovil()">
                <div class="mb-3">
                    <label for="iva" class="form-label">Iva</label>
                    <input type="number" class="form-control" id="iva" placeholder="Ingrese iva" name="iva" formControlName="iva">
                </div>
                <div class="mb-3">
                    <label for="impoconsumo" class="form-label">Impoconsumo</label>
                    <input type="number" class="form-control" id="impoconsumo" placeholder="Ingrese impoconsumo" name="impoconsumo" formControlName="impoconsumo">
                </div>
                <div class="mb-3">
                    <label for="porciondatos" class="form-label">Porcion Datos</label>
                    <input type="number" class="form-control" id="porciondatos" placeholder="Ingrese Porcion Datos" name="porciondatos" formControlName="porciondatos">
                </div>
                <div class="mb-3">
                    <label for="porcionvoz" class="form-label">Porcion Voz</label>
                    <input type="number" class="form-control" id="porcionvoz" placeholder="Ingrese porcion voz" name="porcionvoz" formControlName="porcionvoz">
                </div>
                <div class="mb-3">
                    <label for="unidadredondeo" class="form-label">Unidad Redondeo</label>
                    <input type="number" class="form-control" id="unidadredondeo" placeholder="Ingrese unidad redondeo" name="unidadredondeo" formControlName="unidadredondeo">
                </div>
                <div class="mb-3">
                    <label for="vigenciauvt" class="form-label">Vigencia UVT</label>
                    <input type="number" class="form-control" id="vigenciauvt" placeholder="Ingrese vigencia UVT" name="vigenciauvt" formControlName="vigenciauvt">
                </div>
                <div class="mb-3">
                    <label for="incrementousosdefecto" class="form-label">Incremento Usos por Defecto</label>
                    <input type="text" class="form-control" id="incrementousosdefecto" placeholder="Ingrese Incremento usos defecto" name="incrementousosdefecto" formControlName="incrementousosdefecto">
                </div>
                <div class="mb-3">
                    <label for="tiporedondeo" class="form-label">Tipo Redondeo</label>
                    <select class="form-select" name="tiporedondeo" id="tiporedondeo" formControlName="tiporedondeo">
                        <option value="0">Seleccione</option>
                        <option value="1">NORMAL</option>
                        <option value="2">PISO</option>
                        <option value="3">TECHO</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="frecuenciacommit" class="form-label">Frecuencia Commit</label>
                    <input type="number" class="form-control" id="frecuenciacommit" placeholder="Ingrese Frecuencia commit" name="frecuenciacommit" formControlName="frecuenciacommit">
                </div>
                <div class="mb-3">
                    <label for="estadocalcular" class="form-label">Estado a Calcular</label>
                    <input disabled type="text" class="form-control" id="estadocalcular" name="estadocalcular" formControlName="estadocalcular">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="guardarParametrosCalculoMovil()">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="modal.close()">Cancelar</button>
        </div>
    </ng-template>
</div>

<div class="col-md-12">
    <ng-template #contenido5 let-modal>
        <div class="modal-header">
            <h4 class="modal-tittle text-success">Parámetros Cálculo Fija</h4>
            <button class="close" aria-label="close" (click)="modal.dismiss()">
                    <span aria-label="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form autocomplete="off" [formGroup]="formaParametrosCalculoFija">
                <div class="mb-3">
                    <label for="iva" class="form-label">Iva Oficial</label>
                    <input type="number" class="form-control" id="iva" placeholder="Ingrese Iva" name="iva" formControlName="iva">
                </div>
                <div class="mb-3">
                    <label for="incrementomaximo" class="form-label">Incremento Maximo</label>
                    <input type="number" class="form-control" id="incrementomaximo" placeholder="Ingrese Incremento Max" name="incrementomaximo" formControlName="incrementomaximo">
                </div>
                <div class="mb-3">
                    <label for="frecuenciacommit" class="form-label">Frecuencia Commit</label>
                    <input type="number" class="form-control" id="frecuenciacommit" placeholder="Ingrese Frecuencia commit" name="frecuenciacommit" formControlName="frecuenciacommit">
                </div>
                <div class="mb-3">
                    <label for="estadocalcular" class="form-label">Estado a Calcular</label>
                    <input disabled type="text" class="form-control" id="estadocalcular" name="estadocalcular" formControlName="estadocalcular">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="guardarParametrosCalculoFija()">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="modal.close()">Cancelar</button>
        </div>
    </ng-template>
</div>