h6{
    font-size: 0.8rem !important;
}

h2{
    margin-bottom: 0.5rem !important;
}

.icon-lg{
    font-size: 3.5rem !important;
}

#chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
}

.grid-margin{
    padding-top:15px !important;
}