<form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="validarLogin()">
    <div class="row justify-content-center pt-5 mt-3 m-1">

        <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5">
            <div class="card" style="width: 30rem;">
                <img src="../../../assets/img/fondo_login_v2.jpg" class="card-img-top" alt="fondo">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">US</span>
                            <input id="usuario" type="text" class="form-control" placeholder="Usuario" formControlName="usuario">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1">PS</span>
                            <input id="password" type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary" style="width: 100%;" type="submit">Entrar</button>
                    </li>

                </ul>

            </div>

            <span style="font-size: 22px;">No tienes Cuenta? <a href="/registro">Registrate</a></span>
            <br>
            <span style="font-size: 22px;">
                <a href="/olvidoPass/0">Olvidaste la Contraseña?</a>
            </span>
        </div>

    </div>
</form>