<div class="row justify-content-center pt-5 mt-3 m-1">
    <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5" style="border: 0.5px solid; background-color: rgb(197, 197, 197); box-shadow: forestgreen;">
        <h2 class="text-center text-success">Guardado correctamente</h2>
        <div class="alert alert-primary" role="alert">
            Se ha enviado un correo de activacion del usuario a <a href="#" class="alert-link">{{correo}}</a> verifique su correo y de clic en el enlace enviado.
        </div>
        <hr>
        <button type="button" class="btn btn-link" (click)="navegarInicio()">Volver al Login</button>
    </div>
</div>