<a href="/dashboard/configuracion" class="btn btn-danger  mb-3">
    <i class="fas fa-arrow-left me-2"></i>Configuracion
</a>
<h1>Modulo Administracion Usuarios</h1>
<hr>
<div class="row mt-3">
    <div class="col-md-12">
        <h3>Lista Usuarios</h3>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Estado</th>
                    <th>Perfil</th>
                    <th>Correo</th>
                    <th>Nombre Completo</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of listUsuarios">
                    <td [class.text-danger]="usuario.estado === 3">{{usuario.username}}</td>
                    <td [class.text-danger]="usuario.estado === 3">{{usuario.feciniusuario | date:'dd/MM/yyyy'}}</td>
                    <td [class.text-danger]="usuario.estado === 3">{{usuario.fecfinusuario | date}}</td>
                    <td [class.text-danger]="usuario.estado === 3">{{usuario.estado === 1 ? 'Activo' : usuario.estado === 2 ? 'Inactivo' : usuario.estado === 3 ? 'Bloqueado' : 'Borrado' }}
                    </td>
                    <td [class.text-danger]="usuario.estado === 3">{{usuario.codperfil === 1 ? 'Admin' : 'Operador'}}</td>
                    <td [class.text-danger]="usuario.estado === 3">{{usuario.correo}}</td>
                    <td [class.text-danger]="usuario.estado === 3">{{usuario.nombrecompleto}}</td>
                    <td>
                        <button class="btn btn-success me-2 mb-1" (click)="openLG(contenido, usuario)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger mb-1" (click)="borrarUsuario(usuario)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" (click)="openLGVacio(contenido)">Nuevo</button>
        <button class="btn btn-primary ms-3" (click)="exportarReporteGeneralExcel(listUsuarios)"> 
            <i class="fas fa-file-download me-2"></i>Reporte
        </button>
    </div>
    <div class="col-md-12 mt-3">
        <ng-template #contenido let-modal>
            <div class="modal-header">
                <h4 class="modal-tittle text-success">Editar Usuario</h4>
                <button class="close" aria-label="close" (click)="modal.dismiss()">
                    <span aria-label="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input *ngIf="username" type="text" [attr.disabled]="true" class="form-control" name="username" id="username" formControlName="username" [class.is-invalid]="usuarionovalido">
                        <input *ngIf="!username" type="text" class="form-control" name="username" id="username" formControlName="username" [class.is-invalid]="usuarionovalido">
                        <small *ngIf="usuarionovalido" class="text-danger">Ingrese minimo 5 letras</small>
                    </div>
                    <div class="form-group">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" class="form-control" name="contrasena" id="contrasena" formControlName="contrasena" [class.is-invalid]="contrasenanovalida">
                        <small *ngIf="contrasenanovalida" class="text-danger">Contraseña minima de 6 letras</small>
                    </div>

                    <div class="form-group">
                        <label for="descUsuario">Desc Usuario</label>
                        <input type="text" class="form-control" name="descUsuario" id="descUsuario" formControlName="descUsuario" [class.is-invalid]="descusuarionovalido">
                        <small *ngIf="descusuarionovalido" class="text-danger">Minimo 2 letras en descripcion</small>
                    </div>
                    <div class="form-group">
                        <label for="observaciones">Observaciones</label>
                        <input type="text" class="form-control" name="observaciones" id="observaciones" formControlName="observaciones">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select class="form-select" aria-label="Default select example" name="estado" id="estado" formControlName="estado">
                            <option value="1" class="text-success">ACTIVO</option>
                            <option value="2" class="text-warning">INACTIVO</option>
                            <option value="3" class="text-danger">BLOQUEADO</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="perfil">Perfil</label>
                        <select class="form-select" aria-label="Default select example" name="codperfil" id="codperfil" formControlName="codperfil">
                            <option value="1" class="text-success">ADMINISTRADOR</option>
                            <option value="2" class="text-warning">OPERADOR</option>
                            
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" class="form-control" name="correo" id="correo" formControlName="correo" [class.is-invalid]="correonovalido">
                        <small *ngIf="correonovalido" class="text-danger">campo vacio o formato no valido</small>
                    </div>
                    <div class="form-group">
                        <label for="nombrecompleto">Nombre Titular cuenta</label>
                        <input type="text" class="form-control" name="nombrecompleto" id="nombrecompleto" formControlName="nombrecompleto" [class.is-invalid]="nombrecompletonovalido">
                        <small *ngIf="nombrecompletonovalido" class="text-danger">Ingrese minimo 8 letras</small>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!botonguardar" class="btn btn-success" (click)="guardar()" type="submit">Actualizar</button>
                <button *ngIf="botonguardar" class="btn btn-primary" (click)="crear()" type="submit">Crear</button>
                <button type="button" class="btn btn-danger" (click)="modal.close()">Cancelar</button>
            </div>
        </ng-template>


    </div>

    <div class="col-md-6 mt-3">
        <h3>Reportes Estado de Usuarios</h3>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Cantidad</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Activos</td>
                    <td>{{cantActivos}}</td>
                    <td>
                        <button *ngIf="cantActivos>0" class="btn btn-success" (click)="abrirModalDecargas(contenido2,1)">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Inactivo</td>
                    <td>{{cantInactivos}}</td>
                    <td>
                        <button *ngIf="cantInactivos>0" class="btn btn-success" (click)="abrirModalDecargas(contenido2,2)">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Bloqueado</td>
                    <td>{{cantBloqueados}}</td>
                    <td>
                        <button *ngIf="cantBloqueados>0" class="btn btn-success" (click)="abrirModalDecargas(contenido2,3)">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Borrado</td>
                    <td>{{cantBorrados}}</td>
                    <td>
                        <button *ngIf="cantBorrados>0" class="btn btn-success" (click)="abrirModalDecargas(contenido2,4)">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #contenido2 let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Detalle por estado</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Correo</th>
                        <th>Nombre Titular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of listUsuariosPorEstado">
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.nombrecompleto}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" (click)="ExportarReportePorEstado(listUsuariosPorEstado)">
                <i class="fas fa-file-download me-2"></i>Download
            </button>
            <button type="button" class="btn btn-success" (click)="modal.close()">Cerrar</button>
        </div>
    </ng-template>



</div>