<h2>Creacion Regla</h2>
<hr>
<form autocomplete="off" (ngSubmit)="validar( forma )" #forma="ngForm">
    <div class="row mt-5">
        <div class="col-md-9">

            <div class="mb-3">
                <h5>DESCRIPCION DE LA REGLA</h5>
                <textarea class="form-control" id="descripcion" rows="5" ngModel [class.is-invalid]="descripcionRegla.invalid && descripcionRegla.touched" #descripcionRegla="ngModel" name="descripcionRegla" required></textarea>
                <small *ngIf="descripcionRegla.invalid && descripcionRegla.touched" class="form-text text-danger">*La descripcion de la regla es requerida por favor digitela!!</small>
            </div>
        </div>
        <div class="col-md-3">
            <label for="servicio">SERVICIO QUE AFECTA</label>
            <select name="servicio" class="form-select" style="width: 90%" required ngModel #servicio="ngModel" [class.is-invalid]="servicio.invalid && servicio.touched">
                <option selected value="Fija" >Fija</option>
                <option value="Movil" >Movil</option>
              </select>
            <small *ngIf="servicio.invalid && servicio.touched" class="form-text text-danger">*Indique el servicio afectado!!</small>
        </div>

    </div>

    <div class="row mt-3 ">
        <div class="col-md-9 ">
            <h5>SQL REGLAS ACTUALES</h5>
            <div class="mb-3 ">
                <button *ngIf="!mostrarReglasSql" class="btn btn-success mb-3" (click)="MostrarOcultarSql()">Mostrar</button>
                <button *ngIf="mostrarReglasSql" class="btn btn-danger mb-3" (click)="MostrarOcultarSql()">Ocultar</button>
                <textarea *ngIf="mostrarReglasSql" class="form-control" id="filtroregla" rows="12" [value]="condicionesActuales" disabled>
                    
                </textarea>
            </div>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-md-9 ">
            <div class="mb-3 ">
                <h5>GENERACION FILTRO</h5>
                <small class="form-text text-success mt-2 lh-1 mb-3" style="font-weight: bold;">*NOTA: para cada una de las condiciones es importante colocar los alias para cada una de las tablas: tabla IMT_TBL_CONTRATOS alias = "cont.Nombre_Columna", 
                    tabla IMT_TBL_CLIENTES alias = "cli.Nombre_Columna", tabla IMT_TBL_PRODUCTO_OFERTA alias "pro.Nombre_Columna". </small>
                <textarea class="form-control " id="filtroregla " rows="5" ngModel [class.is-invalid]="condicion.invalid && condicion.touched" #condicion="ngModel" name="condicion" required>
                    
                </textarea>
                <small *ngIf="condicion.invalid && condicion.touched" class="form-text text-danger">*La condicion es requerida por favor digitela!!!</small>
            </div>
        </div>
    </div>
    <button class="btn-warning" type="submit">
        Validar Regla
    </button>
    <br>
    <button type="button" (click)="crearRegla()" class="btn-primary mt-5 mb-5" [disabled]="BanderaCreaRegla" [ngClass]="{'btn-disabled':BanderaCreaRegla}">
        Crear Regla
    </button>
    <button class="btn-danger ms-3 mt-5 mb-5" (click)="volverReglas() ">
        Cancelar
    </button>
</form>