<div class="row">
    <h1>Generación de Interfaces</h1>
</div>
<hr class="margin">
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-warning mt-3 mb-3" (click)="generarArchivoPLM()">Generar Archivo Plano</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <input class="btn btn-warning" type="file" accept=".csv" #fileImportInput name="CSV File Upload" (change)="fileChangeListener($event)" accept=".csv">
        <br>
        <button class="btn btn-danger mt-3" *ngIf="MostrarContenido" (click)="MostrarContenido=!MostrarContenido">Ocultar</button>
        <h3 *ngIf="MostrarContenido">Contenido del archivo: {{selectedCSVFileName}}</h3>
        <pre *ngIf="MostrarContenido" id="contenido-archivo" style="width: 1100px; height: 700px;">{{resultadoLectura}}</pre>
        <hr class="margin">
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <button class="btn btn-info mb-3 mt-3" (click)="finalizarProceso()">Terminar</button>
    </div>
</div>