/* You can add global styles to this file, and also import other style files */
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard.min.css';

body {
  height: 100vh !important;
}

.ng-wizard-theme-circles>ul{
  display: flex !important;
  justify-content: space-between !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li>a{
  height: 50px !important;
  width: 50px !important;
  padding: 15px 0 !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li{
  margin-left: 0 !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.active>a {
  border-color: #007bff !important;
  background: #007bff !important;
}

.ng-wizard-theme-circles>ul.step-anchor{
  margin-bottom: 0 !important;
}

.p-3{
  padding: 11px 16px !important;
}

.component{
  padding: 1rem !important;
}

.height-nav{
  height: 100vh !important;
}

.card{
  background-color: #efefef40 !important;
  border: 1px solid #efefef;
}